
*.pdf

*.SUNet
*.pyc
.env/*
examples/data
examples/graphs/*
examples/checkpoints/*
examples/visualization/*

#ignore the big files
assignments/02_style_transfer/my-sol/graphs/
assignments/02_style_transfer/my-sol/imagenet-vgg-verydeep-19.mat
assignments/02_style_transfer/my-sol/checkpoints/
assignments/02_style_transfer/my-sol/outputs/
assignments/02_style_transfer/my-sol/run-saves/


